body{
  font-size: 19px;
}

.thisTitle{
  font-size: 2rem;
}

.bebas-Neue {
  font-family: "Bebas Neue", sans-serif;
}

.sectionTitle{
  font-weight: 800;
  font-size: 3rem;
}
.productPhoto{
   min-height: 400px;
}
.productInfo{
  width: 100%;
}
.productName{
  width: 70%;
}

.productCounter{
  width: 30%;
  border: 1px solid black;
}

.productPrice{
  width:100%;
}

